// Person content type.

.node--type-person {
  font-size: 1.125em;
  line-height: 1.75;

  .node-title {
    font-size: 2.556em;
    line-height: 1.125;
    margin-top: -2px;

    div {
      display: inline;
      padding: 0;
      margin: 0;
    }
  }

  .field-name-field-person-picture {
    .field-item {
      margin: 0 auto;
      text-align: center;
    }
  }

  .field-name-field-person-title,
  .field-name-field-person-department {
    display: inline;
    margin-right: 0.5em;
    float: left;

    .field-item {
      display: inline;

      &:after {
        content: ",";
      }
    }
  }

  .field-name-field-person-division {
    display: inline;
    margin-right: 0.5em;
    float: left;

    .field-item {
      display: inline;
    }
  }

  .field-name-field-person-degree {
    clear: both;
    font-weight: bold;
  }

  .address-container {
    margin-bottom: 1rem;

    label {
      font-size: 1em;
      line-height: 1.75;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $carbon;
      }
    }

    p.address {
      margin-bottom: 0;
    }

    .field {
      margin: 0;
    }

    .field-name-field-person-fax,
    .field-name-field-person-phone {
      clear: both;

      .field-label {
        width: 4em;
        margin-right: 0.5em;
        float: left;

        &:after {
          content: ":";
        }
      }

      .field-items {
        float: left;
      }
    }

  }

}
