ul.breadcrumbs {
  font-weight: 400;
  font-size: 0.944em;
  line-height: 1.55;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  margin-top: 2em;
  margin-bottom: 3.5em;

  a {
    color: $carbon;

    &:hover {
      color: $blue-med;
    }
  }

  li:not(.current) {
    &:after {
      content: ">";
    }
  }

  li.current {
    a {
      background: transparent;
      color: $blue-med;
    }
  }
}
