/* Typography :: Base
 * The majority of the typography is imported from the yale_ui library
 * For typographic standards, see https://yaleux.github.io/yaleui/styleguide/typography.html
------------------------------------- */

body {
  font-family: $sans;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
}

h1, h2, .intro {
  margin-bottom: 0.5em;
}
// heading link hovers
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}

h1.site-name,
h2.site-name {
  font-size: 3.05em;
  margin-top: 0.5em;
  margin-bottom: 0.34em;
  line-height: 1.1;
  a:hover {
    text-decoration: none;
  }
}

.title-small h1.site-name,
.title-small h2.site-name {
  font-size: 2.75em;
  letter-spacing: -0.01em;
}

h1.title {
  font-size: 2.556em; // 46px
  line-height: 1.125;
  margin-top: -2px;
}

.site-name,
.title {
  margin-left: -1px;
  .ie8 & {
    letter-spacing: -0.015em;
  }
}

.views-row h5 {
  margin: 0.5em 0;
}

.block-block h2 {
  line-height: 1.3;
}

.block-block h3,
.block-block h4,
.block-block h5,
.block-block h6 {
  line-height: 1.2;
  margin: 1em 0 0.5em 0;
}

/**
 * Typography rules for Articles
 */
article h2 + h5,
article h3 + h5,
article h4 + h5,
article h5 + h5,
article h5 + h6 {
  margin-top: 0;
}

article h6 + ul,
article h6 + ol {
  margin-top: 1em; // 18px
}

article p + h4,
.collapsible h4,
.block-block h4 {
  margin-top: 1.75em;
}


